# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [39]:
weather_df=pd.read_csv('../WeatherPy/weather_df.csv')
weather_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,Nome,US,64.50,-165.41,44.60,75,90,5.82
1,1,Jaffna,LK,9.67,80.01,83.23,75,95,9.51
2,2,Ancud,CL,-41.87,-73.82,51.01,54,0,5.01
3,3,Liverpool,GB,53.41,-2.98,70.00,52,40,3.36
4,4,Hokitika,NZ,-42.72,170.97,42.82,74,100,6.17

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [40]:
gmaps.configure(api_key=g_key)

In [41]:
humidity=weather_df["Humidity (%)"]
locations=weather_df[["Latitude", "Longitude"]]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [59]:
perfect_weather=weather_df.loc [(weather_df["Temperature (F)"]>70) & 
                                   (weather_df["Temperature (F)"]<80) &
                                   (weather_df["Wind Speed (mph)"]<10) &
                                   (weather_df["Cloudiness (%)"]==0), :].reset_index(drop=True)
perfect_weather.dropna()
perfect_weather.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,40,Huron,US,41.15,-82.55,75.99,92,0,4.00
1,73,Anqiu,CN,36.43,119.19,71.92,80,0,2.46
2,225,Fuerte Olimpo,PY,-21.04,-57.87,72.90,56,0,7.67
3,303,Katsuura,JP,35.13,140.30,78.01,90,0,1.01
4,407,Sibay,RU,52.72,58.67,76.48,49,0,3.58

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [60]:
hotel_df=perfect_weather.loc[:,:]
hotel_df["Hotel Name"]=""
hotel_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
0,40,Huron,US,41.15,-82.55,75.99,92,0,4.00,
1,73,Anqiu,CN,36.43,119.19,71.92,80,0,2.46,
2,225,Fuerte Olimpo,PY,-21.04,-57.87,72.90,56,0,7.67,
3,303,Katsuura,JP,35.13,140.30,78.01,90,0,1.01,
4,407,Sibay,RU,52.72,58.67,76.48,49,0,3.58,

In [63]:
params = {
    "type": "hotel",
    "keyword": "hotel",
    "radius": 5000,
    "key": g_key,
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    lat = row["Latitude"]
    lng = row["Longitude"]
    city=row["City"]
    
    params["location"] = f"{lat},{lng}"

    print(f"Retrieving Results for {city}.")
    
    try:
        response = requests.get(base_url, params=params).json()
        results=response['results']
        print(f"The closest hotel in {city} is {results[0]['name']}.")
    
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]['name']
    
    except (IndexError, KeyError):
        print(f"No hotel nearby.")

Retrieving Results for Huron.
No hotel nearby.
Retrieving Results for Anqiu.
No hotel nearby.
Retrieving Results for Fuerte Olimpo.
No hotel nearby.
Retrieving Results for Katsuura.
No hotel nearby.
Retrieving Results for Sibay.
No hotel nearby.
Retrieving Results for Zunyi.
No hotel nearby.
Retrieving Results for Balkhash.
No hotel nearby.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

# Display figure